.gradient {
  background: linear-gradient(90deg, #B731DD 0%, #4161EB 100%);
}

.modal {
  transition: opacity 0.25s ease;
  z-index: 100;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.show-me {
  z-index: 19;
}

body {
  overflow-wrap: break-word;
}
