<!--Hero-->
<div class="pt-24">
  <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full justify-center text-center md:w-2/5 md:text-left">
      <p class="uppercase tracking-loose w-full">File management made easy</p>
      <h1 class="my-4 text-5xl font-bold leading-tight">Simple File Upload </h1>
      <p class="leading-normal text-2xl mb-8">Add file uploading and cloud storage to your site with ease! No servers to configure or buckets to set up.</p>
      <button class="show-me modal-open hover:underline mx-auto md:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg md:self-start">See How It Works</button>

    </div>
    <!--Right Col-->
    <div class="w-full md:w-3/5 self-start justify-center">
      <image class="sm:h-64 mx-auto" src="assets/undraw_upload.svg"/>
    </div>
  </div>

</div>