<!--Hero-->
<div class="pt-24">
  <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full md:w-2/5 justify-center md:items-start text-center md:text-left">
      <p class="uppercase tracking-loose w-full">File management made easy</p>
      <h1 class="my-4 text-5xl font-bold leading-tight">Simple File Upload </h1>
      <p class="leading-normal text-2xl mb-8">Add file uploading and cloud storage to your site with ease! No servers to configure or buckets to set up.</p>
      <button class="show-me modal-open hover:underline mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg">Join Waiting List</button>

    </div>
    <!--Right Col-->
    <div class="w-full md:w-3/5 self-start aspect-16x9">
      <iframe width="560" height="315" class='w-full md:w-4/5 z-50' src="https://www.youtube.com/embed/U66gzmFMcF4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>