<!-- This example requires Tailwind CSS v2.0+ -->
<script src="https://app.simplefileupload.com/buckets/2e7792d9a1cfd35dbef192d26f5ed176.js"></script>

<section class="tx-lg bg-white border-b py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800">Drop a file to try it live!</h1>
     <div class="mt-8 flex flex-col items-center justify-center">
      <form>
        <input type="hidden" id="test-files-uploader" class="simple-file-upload"/>
      </form>
      <p class="text-gray-800 hide" id="snippet">
        <button id="file-url" class="btn-url btn-sm btn btn-primary" data-clipboard-text=  >
            Copy URL
        </button>
      </p>
    </div>
  </div>
</section>


