<!-- This example requires Tailwind CSS v2.0+ -->
<section class="py-12 bg-gray-50 overflow-hidden md:py-20 lg:py-24 bg-white">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative">
      <img class="mx-auto h-8" src="assets/protege_logo.svg"/>
      <blockquote class="mt-10">
        <div class="max-w-3xl mx-auto text-center text-2xl leading-9 font-medium text-gray-900">
          <p>
            &ldquo;Simple File Upload allowed my team to stop fighting with file uploading and focus on what matters - our customers. We had the uploader up and running in 5 minutes! It really is that easy! &rdquo;
          </p>
        </div>
        <footer class="mt-8">
          <div class="md:flex md:items-center md:justify-center">
            <div class="md:flex-shrink-0">
              <img class="mx-auto h-10 w-10 rounded-full" src="assets/drew_headshot.jpeg" alt="">
            </div>
            <div class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center">
              <div class="text-base font-medium text-gray-900">Drew Clemens</div>

              <svg class="hidden md:block mx-1 h-5 w-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                <path d="M11 0h3L9 20H6l5-20z" />
              </svg>

              <div class="text-base font-medium text-gray-500">Founder, Protege.dev</div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>