<!DOCTYPE html>
<html>

{%- include head.html -%}

<body class="leading-normal tracking-normal text-white gradient">
{%- include nav.html -%}
{%- include hero.html -%}

{%- include svg_gradient.html -%}

<section class="bg-white border-b py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Seamless File Uploading</h1>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Streamlined UI</h3>
        <p class="text-gray-600 mb-8">Building a file drop user interface is hard. The Simple File Upload widget automatically creates a straightforward UI that by default will blend with your form. File too big? The user is immediately notified and the dropped image is cleared.<br /><br />

      </div>
      <div class="w-full sm:w-1/2 p-6 flex flex-row space-between">
        <img class="w-1/2 p-2 object-contain" src = "assets/success.png"/>
        <img class="w-1/2 p-2 object-contain" src = "assets/fail.png"/>
      </div>
    </div>

    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        {%- include connected_world_svg.html -%}
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Content Distribution Network (CDN)</h3>
          <p class="text-gray-600 mb-8">Files uploaded and served using Simple File Upload are available quickly by using a world class CDN that delivers files based on the user's location. This improves a site's Lighthouse score and response time.<br /><br />
        </div>
      </div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Cloud Storage</h3>
        <p class="text-gray-600 mb-8">Cloud storage for files is imperative in today's modern web world. Yet setting up cloud storage is a pain. CORS configuration, bucket permissions, signed upload urls...all of this takes precious developer time. Simple File Upload confgiures storage for you, to free you up to work on what's most important - your business. <br /><br />
      </div>
      <div class="w-full sm:w-1/2 p-6">
       <img class="w-5/6 sm:h-64 mx-auto" src="assets/server.svg"/>
      </div>
    </div>

    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <img class="w-5/6 sm:h-64 mx-auto" src="assets/direct_upload.svg"/>
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Direct Uploads</h3>
          <p class="text-gray-600 mb-8">Simple File Upload uses direct uploads, which means the file never touches your server.<br /><br />
        </div>
      </div>
    </div>
  </div>
</section>

{%- include svg_wave_top.html -%}

<section class="container mx-auto text-center py-6 mb-12">
  <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white">Try it now!</h1>
  <div class="w-full mb-4">
    <div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
  </div>
  <h3 class="my-4 p-5 text-3xl leading-tight">Sign up for a free 30 day trial! </h3>

  <a href="https://app.simplefileupload.com/users/sign_up" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold
  rounded-full my-10 py-4 px-8 shadow-lg">Sign Up</a>


</section>
  <!-- jQuery if you need it
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  -->
  <!--Modal-->
  {%- include modal.html -%}

  <script>
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
      event.preventDefault()
      toggleModal()
      })
    }

    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)

    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }

    document.onkeydown = function(evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
      isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
      isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
      toggleModal()
      }
    };

    function toggleModal () {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }
  </script>
</body>
</html>
