<!DOCTYPE html>
<html>

{% include head.html %}

<body class="leading-normal tracking-normal text-white gradient">
{% include nav.html %}
{% include hero.html %}

{% include svg_gradient.html %}

{% include simple_file_upload_demo.html %}
{% include testimonials.html %}
<section class="tx-lg bg-white border-b py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800">File uploading is a pain</h1>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3"></h3>
        <div class="text-lg text-gray-600 mb-8">Think about the last time you added file uploads to your application. You probably had to: <br/><br/>
          <ul class="pl-8 text-gray-600 list-disc">
            <li>Securely configure a cloud storage service</li>
            <li>Set up IAM credentials</li>
            <li>Configure your client to send direct uploads</li>
            <li>Create presigned URLs on your server </li>
            <li>Configure your bucket CORS</li>
            <li>Implement client and server-side validations</li>
            <li>Set up a front end file uploader UI </li>
          </ul><br/>
          Oh and don’t forget that you’ll need to make it look good and match the rest of your application.

          You need uploading, but you don’t have time for that headache or want to manage that much infrastructure.
        </div>

      </div>
      <div class="w-full sm:w-1/2 p-6 flex flex-row space-between">
        <img class="w-1/2 p-2 object-contain" src = "assets/success.png"/>
        <img class="w-1/2 p-2 object-contain" src = "assets/fail.png"/>
      </div>
    </div>

    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="relative pb-2/3" >
          <img class="h-full w-full object-cover absolute" src=" https://static.files-simplefileupload.com/22lhflf0a9jb55m7aoc4r1eiexs5/sfu_v2_frame3@2x.png">
        </div>

      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">A Better Way</h3>
          <p class="text-lg text-gray-600 mb-8">What if you could skip all the pain? What if you could add file uploading with two lines of code? Simple File Upload is a simple to use, yet robust file upload tool for your website.  Whether you want to build a simple photo gallery application or something more complex, we've got you covered.<br /><br />
        </div>
      </div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3 mt-6">Uploading and Storage. Done. </h3>
        <p class="text-lg text-gray-600 mb-8">Simple File Upload takes care of all the heavy lifting surrounding file uploads. The widget hooks into an input with class of simple-file-upload and replaces it with a dropzone. The user drops a file and the file is automatically uploaded to cloud storage via a direct upload. Files are served via a CDN which is imperitive in today's modern megabyte-sized website world. <br /><br />
      </div>
      <div class="w-full sm:w-1/2 p-6">
       <img class="w-5/6 sm:h-64 mx-auto mt-6" src="assets/server.svg"/>
      </div>
    </div>

    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <img class="w-5/6 sm:h-64 mx-auto" src="assets/direct_upload.svg"/>
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Will it work for me?</h3>
          <p class="text-lg text-gray-600 mb-8">Yes! Simple File Upload can be installed via a javascript snippet or React component. It works with all backend languages and databases. <br /><br />
        </div>
      </div>
    </div>
  </div>
</section>

{%- include svg_wave_top.html -%}

<section class="container mx-auto text-center py-6 mb-12">
  <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white">Try it now!</h1>
  <div class="w-full mb-4">
    <div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
  </div>
  <h3 class="my-4 p-5 text-3xl leading-tight">Sign up for a free 7 day trial! </h3>

  <a href="https://app.simplefileupload.com/pricing" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold
  rounded-full my-10 py-4 px-8 shadow-lg">Sign Up</a>


</section>

{%- include footer.html -%}
  <!-- jQuery if you need it
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  -->
  <!--Modal-->
  {%- include modal.html -%}

  <script>
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
      event.preventDefault()
      toggleModal()
      })
    }

    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)

    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }

    document.onkeydown = function(evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
      isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
      isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
      toggleModal()
      }
    };

    function toggleModal () {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }
  </script>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
