<!DOCTYPE html>
<html>

{%- include head.html -%}

<body class="leading-normal tracking-normal text-white gradient">
  {%- include nav.html -%}
  {%- include hero_text_only.html -%}

  {%- include svg_gradient.html -%}

  <section class="tx-lg bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">

      <div class="flex flex-wrap">
        <div class="sm:w-1/2 p-6">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Contact Sales</h3>
          <div class="text-lg text-gray-600 mb-8">Looking for a custom quote? Need to tell us more about your project or want a demonstration? Drop us a line at sales@simplefileupload.com<br/><br/>
          </div>

        </div>

        <div class="sm:w-1/2 p-6">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Technical Support</h3>
          <div class="text-lg text-gray-600 mb-8">Questions about file storage, direct uploads, ephemeral file systems or need help adding the uploader? We're happy to help with any questions you might have. support@simplefileupload.com<br/><br/>
          </div>
        </div>
      </div>
    </div>
  </section>

  {%- include footer.html -%}
</body>
</html>
